<% provide :title, t("login") %>
<div class="row form_user">
  <div class="col-sm-6 top_products border_top_product center_form">
    <div class="home_title">
      <h2 class="title"><%= t "login" %></h2>
  </div>
  <div class="col-sm-9 center_form">
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :email, t("email") %>
      <%= f.email_field :email, class: "form-control" %>
      <%= f.label :password, t("password") %>
      <%= f.password_field :password, class: "form-control" %>
      <%= link_to t("forgot_password"), "#" %>
      <br>
      <div class="button_center">
        <br><%= f.submit t("login"), class: "btn btn-custom btn-info" %>
      </div>
    <% end %>
    <p><%= t "new_user" %><%= link_to t("signup_now"), new_user_path %></p>
  </div>
</div>
