<% provide :title, t("edit_profile") %>
<div class="row form_user">
  <div class="col-sm-6 top_products border_top_product center_form">
    <div class="home_title">
      <h2 class="title"><%= t "edit_profile" %></h2>
  </div>
  <div class="col-sm-9 center_form">
    <%= form_for @user do |f| %>
      <%= render "shared/error_messages", object: @user %>
      <%= f.label :name, t("name") %>
      <%= f.text_field :name, class: "form-control" %>
      <%= f.label :address, t("address") %>
      <%= f.text_field :address, class: "form-control" %>
      <%= f.label :phone, t("phone") %>
      <%= f.phone_field :phone, class: "form-control" %>
      <%= f.label :email, t("email") %>
      <%= f.email_field :email, class: "form-control" %>
      <%= f.label :password, t("password") %>
      <%= f.password_field :password, class: "form-control" %>
      <br>
      <div class="button_center">
         <%= f.submit t("update_profile"), class: "btn btn-custom btn-info" %>
      </div>
    <% end %>
  </div>
</div>
