<% provide :title, t("signup") %>
<div class="row form_user">
  <div class="col-sm-6 top_products border_top_product center_form">
    <div class="home_title">
      <h2 class="title"><%= t "register" %></h2>
  </div>
  <div class="col-sm-9 center_form">
    <%= form_for(@user, url: signup_path) do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <%= f.label :name, t("name") %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :address, t("address") %>
      <%= f.text_field :address, class: "form-control" %>

      <%= f.label :phone, t("phone") %>
      <%= f.phone_field :phone, class: "form-control" %>

      <%= f.label :email, t("email") %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password, t("password") %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confirmation, t("password_conf") %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      <br>
      <div class="button_center">
         <%= f.submit t("create_my_account"), class: "btn btn-custom btn-info" %>
      </div>
    <% end %>
  </div>
</div>
