<tr class="content_table status_value" data-status="<%= Order.statuses[order.status] %>">
  <td class="item"><%= order.id %></td>
  <td class="item"><%= l order.created_at, format: :dmy_hms_concise %></td>
  <td class="item"><%= l order.delivery_day, format: :date_month_year_concise %></td>
  <td class="item price">
    <%= number_to_currency OrderLib.total_money_after_discount(order) %>
  </td>
  <td class="item font_status"><%= order.status %></td>
  <td class="item">
    <%= link_to t("detail"), order_path(order),
      class: "btn btn-custom btn-success", data:{toggle: "modal"} %>
    <%= link_to t("cancel"), order_path(order), method: :delete,
      data: {confirm: t("are_you_sure")}, class: "btn btn-custom btn-danger button_check_status" %>
  </td>
</tr>
