<%= form_for order_detail do |o| %>
<tr class="content_table" data-id="<%= order_detail.id %>">
  <td class="item"><%= order_detail.product_id %></td>
  <td class="item"><%= order_detail.product_name %></td>
  <% if order_detail.product_image.present? %>
    <td class="item"><%= image_tag "#{order_detail.product_image}", class: "img_cover" %></td>
  <% else %>
    <td class="item"><%= image_tag t "no_image", class: "img_cover" %></td>
  <% end %>
  <td class="item"><%= number_to_currency order_detail.price %></td>
  <td class="item">
    <%= render "shared/error_messages", object: order_detail %>
    <%= o.number_field :quantity, class: "form-control size_field",
      min: Settings.minimum_quantily, max: Settings.maximum_quantity %>
  </td>
  <td class="item price"><%= number_to_currency OrderLib.calculate_product(order_detail) %></td>
  <td class="item">
    <%= o.submit t("update"), class: "btn btn-custom btn-success button_check_status" %>
    <%= link_to t("delete"), order_detail_path(order_detail), method: :delete,
      data: {confirm: t("are_you_sure")}, class: "btn btn-custom btn-danger button_check_status" %>
  </td>
</tr>
<% end %>
