<% provide :title, t("rate_title") %>
<% provide :page_header, t("all_rate") %>
<div class="panel panel-default">
  <div class="panel-heading"><%= t "all_product" %></div>
  <section class="section_table">
    <table class="table table-bordered" id="datatable">
      <thead>
        <tr class="title_table">
          <th class="title_cell"><%= t "id_rate" %></th>
          <th class="title_cell"><%= t "id-user" %></th>
          <th class="title_cell"><%= t "user_name" %></th>
          <th class="title_cell"><%= t "id-product" %></th>
          <th class="title_cell"><%= t "product_name" %></th>
          <th class="title_cell"><%= t "created" %></th>
          <th class="title_cell"><%= t "point" %></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "table", collection: @rates, as: :rate %>
      </tbody>
    </table>
  </section>
  <div class="pagrinate"><%= will_paginate @rates %></div>
</div>
