 <div id=<%= "modal#{categorie.id}" %> class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t "edit_categorie" %></h4>
      </div>
      <div class="modal-body find_image">
        <div class="col-md-8">
          <%= form_for [:admin, categorie],
            html: {multipart: true} do |f| %>
            <%= render "shared/error_messages", object: f.object %>
            <%= f.label :name, t("name") %>
            <%= f.text_field :name, class: "form-control" %>
            <span class="picture">
              <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png",
                class: "change_picture" %>
            </span>
            <br>
            <%= f.submit t("edit_categorie"), class: "btn btn-custom btn-success" %>
          <% end %>
        </div>
        <dir class="col-md-3 .col-md-offset-2 ">
          <div class="panel-body">
            <div class="upload-preview">
              <%= t "image_categorie" %>
              <div class="panel panel_image"></div>
              <% if categorie.image? %>
                <%= image_tag  "#{categorie.image}" %>
              <% else %>
                <%= image_tag t "no_image" %>
              <% end %>
            </div>
          </div>
        </dir>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
