<tr class="content_table">
  <td class="item"><%= categorie.id %></td>
  <td class="item"><%= categorie.name %></td>
  <td class="item"><%= l categorie.created_at, format: :date_month_year_concise %></td>
  <% if categorie.image? %>
    <td class="item"><%= image_tag "#{categorie.image}", class: "img_cover" %></td>
  <% else %>
    <td class="item"><%= image_tag t "no_image", class: "img_cover" %></td>
  <% end %>
  <td class="item">
    <%= link_to t("edit"), "#modal#{categorie.id}",
      class: "btn btn-custom btn-info", data:{toggle: "modal"} %>
    <%= link_to t("delete"), admin_category_path(categorie), method: :delete,
      data: {confirm: t("are_you_sure")}, class: "btn btn-custom btn-danger" %>
  </td>
</tr>
