<% provide :title, t("categorie") %>
<% provide :page_header, t("add_categories") %>
<div class="find_image">
  <div class="col-md-8">
    <%= form_for [:admin, @categorie],
      html: {multipart: true} do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <%= f.label :name, t("name") %>
      <%= f.text_field :name, class: "form-control" %>
      <span class="picture">
        <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png",
          class: "change_picture" %>
      </span>
      <br>
      <%= f.submit t("create_new_categorie"), class: "btn btn-custom btn-success" %>
    <% end %>
    <br>
    <div class="panel panel-default">
      <div class="panel-heading"><%= t "all_categorie" %></div>
      <section class="section_table">
        <table class="table table-bordered" id="datatable">
          <thead>
            <tr class="title_table">
              <th class="title_cell"><%= t "id" %></th>
              <th class="title_cell"><%= t "name" %></th>
              <th class="title_cell"><%= t "added_day" %></th>
              <th class="title_cell"><%= t "image" %></th>
              <th class="title_cell"><%= t "funtion" %></th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "table", collection: @categories, as: :categorie %>
          </tbody>
        </table>
      </section>
    </div>
    <div class="pagrinate"><%= will_paginate @categories %></div>
  </div>
  <di class="col-md-3 .col-md-offset-2 ">
    <div class="panel-body">
      <div class="upload-preview">
        <%= t "image_categorie" %>
        <div class="panel panel_image"></div>
        <%= image_tag t "no_image" %>
      </div>
    </div>
  </div>
</div>
<%= render partial: "modal", collection: @categories, as: :categorie %>
