<tr class="content_table">
  <td class="item"><%= product.id %></td>
  <td class="item"><%= product.name %></td>
  <td class="item"><%= convert_info product.info %></td>
  <td class="item"><%= l product.created_at, format: :date_month_year_concise %></td>
  <td class="money"><%= number_to_currency product.price %></td>
  <td class="item font_status"><%= product.status %></td>
  <td class="item"><%= product.categorie_name %></td>
  <td class="item">
    <%= link_to t("edit"), "#modal#{product.id}",
      class: "btn btn-custom btn-success", data: {toggle: "modal"} %>
    <%= link_to t("delete"), admin_product_path(product), method: :delete,
      data: {confirm: t("are_you_sure")}, class: "btn btn-custom btn-danger" %>
  </td>
</tr>
