<% provide :title, t("manage_products") %>
<% provide :page_header, t("show_products") %>
<div class="panel panel-default">
  <div class="panel-heading"><%= t "all_product" %></div>
  <section class="section_table">
    <table class="table table-bordered" id="datatable">
      <thead>
        <tr class="title_table">
          <th class="title_cell"><%= t "id" %></th>
          <th class="title_cell"><%= t "name" %></th>
          <th class="title_cell"><%= t "info" %></th>
          <th class="title_cell"><%= t "day_added" %></th>
          <th class="title_cell"><%= t "price" %></th>
          <th class="title_cell"><%= t "status" %></th>
          <th class="title_cell"><%= t "categorie" %></th>
          <th class="title_cell"><%= t "function" %></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "table", collection: @products, as: :product %>
      </tbody>
    </table>
  </section>
  <div class="pagrinate"><%= will_paginate @products %></div>
</div>
<%= render partial: "modal", collection: @products, as: :product %>
