<% provide :title, t("products") %>
<% provide :page_header, t("add_import_products") %>
<div id="exTab1">
  <ul  class="nav nav-pills">
    <li class="active">
      <a  href="#1a" data-toggle="tab"><%= t "add_products" %></a>
    </li>
    <li><a href="#2a" data-toggle="tab"><%= t "import_products" %></a></li>
  </ul>
  <div class="tab-content clearfix">
    <div class="tab-pane active" id="1a">
      <div class= "find_image">
        <div class="col-md-8">
          <%= form_for [:admin ,@product],
            html: {multipart: true} do |f| %>
            <%= render "shared/error_messages", object: f.object %>
            <%= f.label :name, t("name") %>
            <%= f.text_field :name, class: "form-control" %>

            <%= f.label :info, t("info") %>
            <%= f.text_field :info, class: "form-control" %>

            <%= f.label :price, t("price") %>
            <%= f.number_field :price, class: "form-control" %>

            <div class="form-group">
              <%= f.label :categorie_id, t("categories") %>
              <%= f.select :categorie_id,
                @categories.collect {|a| [ a.name, a.id ]},
                {prompt: t("view.product")}, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :status, t("status") %>
              <%= f.select :status,
                Product.statuses.sort.collect {|a| [a[0].upcase, a[0]]},
                {prompt: t("view.product")}, class: "form-control" %>
            </div>
            <span class="picture">
              <%= t "upload_image" %>
              <%= f.file_field :image, class: "change_picture",
                accept: "image/jpeg,image/gif,image/png" %>
            </span>
            <br>
            <%= f.submit t("create_new_product"),
              class: "btn btn-custom btn-success" %>
          <% end %>
        </div>
        <dir class="col-md-3 .col-md-offset-2">
          <div class="panel-body">
            <div class="upload-preview">
              <%= t "image_product" %>
              <div class="panel panel_image"></div>
              <%= image_tag t "no_image" %>
            </div>
          </div>
        </div>
      </dir>
    </div>
    <div class="tab-pane" id="2a">
      <%= t "import_products_choose" %>
      <%= form_tag imports_path, multipart: true do %>
        <%= file_field_tag :file %>
        <br>
        <%= submit_tag t("import"), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
