<tr>
  <td style=""><%= categorie.id %></td>
  <td style=""><%= categorie.name %></td>
  <td style=""><%= l categorie.created_at, format: :date_month_year_concise %></td>
  <% if categorie.image? %>
    <td style=""><%= image_tag "#{categorie.image}", class: "image_on_table" %></td>
  <% else %>
    <td style=""><%= image_tag t "no_image", class: "image_on_table" %></td>
  <% end %>
  <td style="">
    <div class="div_function">
      <%= link_to t("edit"), "#modal#{categorie.id}",
        class: "glyphicon glyphicon-edit", data:{toggle: "modal"} %>
      <%= link_to t("delete"), category_path(categorie), method: :delete,
        data: {confirm: t("are_you_sure")}, class: "glyphicon glyphicon-remove" %>
    </div>
  </td>
</tr>
