<% provide :title, t("categorie") %>
<%= render "layouts/panel_UI" %>
<%= render "layouts/sidebar_left_UI" %>
<div class="col-sm-9 top_products">
  <div class="border_top_product">
    <div class="home_title">
      <h2 class="title"><%= @categorie.name %></h2>
    </div>
    <ul class="row product_list">
      <% if @products.present? %>
        <%= render partial: "layouts/product_item", collection: @products, as: :product %>
      <% else %>
        <h3 class="font_no_product"><%= t "no_product" %></h3>
      <% end %>
    </ul>
  </div>
</div>
