<% provide :title, t("products") %>
<% provide :page_header, t("add_products") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @product, html: {multipart: true} do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <%= f.label :name, t("name") %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :info, t("info") %>
      <%= f.text_field :info, class: "form-control" %>

      <%= f.label :price, t("price") %>
      <%= f.number_field :price, class: "form-control" %>

      <div class="form-group">
        <%= f.label :categorie_id %>
        <%= f.select :categorie_id,
          @categories.collect {|a| [ a.name, a.id ]},
          {prompt: t("view.product")},
          class: "form-control" %>
      </div>
      <span class="picture">
        <%= f.file_field :picture %>
      </span>
      <br>
      <%= f.submit t("create_new_product"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
