<% provide :title, t("products") %>
<% provide :page_header, t("add_products") %>
<div class= "find_image">
  <div class="col-md-8">
    <%= form_for @product, html: {multipart: true} do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <%= f.label :name, t("name") %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :info, t("info") %>
      <%= f.text_field :info, class: "form-control" %>

      <%= f.label :price, t("price") %>
      <%= f.number_field :price, class: "form-control" %>

      <div class="form-group">
        <div id= "show_image"><%=%></div>
        <%= f.label :categorie_id, t("categories") %>
        <%= f.select :categorie_id,
        @categories.collect {|a| [ a.name, a.id ]},
        {prompt: t("view.product")},
        class: "form-control" %>
      </div>
      <span class="picture">
        <%= f.file_field :image, class: "change_picture", accept: "image/jpeg,image/gif,image/png" %>
      </span>
      <br>
      <%= f.submit t("create_new_product"), class: "btn btn-primary" %>
    <% end %>
  </div>
  <dir class="col-md-3 .col-md-offset-2">
    <div class="panel-body">
      <div class="upload-preview">
        <%= t "image_product" %>
        <div class="panel panel_image"></div>
        <%= image_tag "no_image.jpg"%>
      </div>
    </div>
  </dir>
</div>
