<head>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to t("name_website"), root_path, id:"logo" %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to root_path do %>
            <span class="glyphicon glyphicon-home"></span>
            <%= t "home" %>
          <% end %>
        </li >
        <li>
          <%= link_to carts_path do %>
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <span class="product-count" id="count_cart" >
              <%= count_product_of_cart %>
            </span>
            <%= t "cart" %>
          <% end %>
        </li>
        <li>
          <%= link_to root_path do %>
            <span class="glyphicon glyphicon-gift"></span>
            <%= t "sale" %>
          <% end %>
        </li>
        <li>
          <%= link_to suggests_path do %>
            <span class="glyphicon glyphicon-open"></span>
            <%= t "suggest" %>
          <% end %>
        </li>
        <li>
          <%= link_to help_path do %>
            <span class="glyphicon glyphicon-question-sign"></span>
            <%= t "help" %>
          <% end %>
        </li>
        <% if loged? %>
        <li class="dropdown" id="loged" data-id="true">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-cog"></span>
            <%= t "profile" %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% if admin? %>
            <li><%= link_to t("admin_panel"), admin_admins_path %></li>
            <% end %>
            <li><%= link_to t("profile"), user_path(current_user) %></li>
            <li><%= link_to t("manange_order"), orders_path %></li>
            <li><%= link_to t("log_out"), logout_path %></li>
          </ul>
        </li>
        <% else %>
        <li id="loged" data-id="false">
          <%= link_to new_user_path do %>
            <span class="glyphicon glyphicon-user"></span>
            <%= t "signup" %>
          <% end %>
        </li>
        <li>
          <%= link_to login_path do %>
            <span class="glyphicon glyphicon-log-in"></span>
            <%= t "login" %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </nav>
</head>
